<!DOCTYPE html>
<html lang="en">


<head>
    <% include headerStuff %>
</head>

<body>
    
    <% include pageHeader %>

    <%# content %>
    <p>key: <%= job? job.key : "" %></p>
    <h3>chức vụ: <%= job? job.position : "" %></h3>
    <p>          <%= job? job.description : "" %></p>
    <p>          <%= job? job.requirement : "" %></p>
    <p>          <%= job? job.location : "" %></p>
    <p>          <%= job? job.min_salary : "" %></p>
    <p>          <%= job? job.max_salary : "" %></p>
    <p>          <%= job? job.type_salary : "" %></p>
    <p>          <%= job? job.type_candidate : "" %></p>
    <p>          <%= job? job.deadline : "" %></p>
    <p>          <%= job? job.job_tags : "" %></p>

    <% if(jobkey) { %>
        <hr>
        <p>
            <a href="/jobs/destroy?key=<%= jobkey %>">xoa</a>
            <a href="/jobs/edit?key=<%= jobkey %>">sua</a>
        </p>
    <% }%>


    <%# end content %>
    <% include footer %>
</body>
</html>