<!DOCTYPE html>
<html>
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <% include pageHeader %>
    

    <div class="container mt-lg-5">
        <form method="POST" action="/recruitment/update_recruitment" role="form">
    
            <h2 class="text-danger"><%= title%></h2>
            <p> <i class="icon_star">*</i> thông tin bắt buộc</p>
            <hr>
            <br>
    
             
                <input type="hidden" name="recruitment_id" id="inputcompany_id" class="form-control" value="<%=recruitment.recruitment_id%>">
                <input type="hidden" name="company_id_fk" id="inputcompany_id" class="form-control" value="<%=recruitment.company_id_fk %>">
                <div class="form-group row">
                    <label for="industry_id_fk" class="col-2">Lĩnh vực <i class="icon_star">*</i></label>

                    <div class="col-sm-10">
                        <select class="custom-select" name="industry_id_fk" id="industry_id_fk" required>
                            <%
                                for (let index = 0; index < listIndustry.length; index++) {
                                    const element = listIndustry[index];
                                    if (element.industry_id == recruitment.industry_id_fk){ 
                                    %>
                                       <option value="<%=element.industry_id %>" selected><%=element.name%></option>
                                    <%     
                                    } else {
                                    %>
                                        <option value="<%=element.industry_id %>"><%=element.name%></option>
                                    <%
                                    }
                                }
                            %>
                            
                        </select>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="" class="col-lg-2 col-md-2 " >Mã công việc <i class="icon_star">*</i></label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input required  type="text" name="work_id" id="inputwork_id" class="form-control" value="<%=recruitment.work_id%>">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="" class="col-lg-2 col-md-2 " >Tên công việc<i class="icon_star">*</i></label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input required type="text" name="work_name" id="inputwork_name" class="form-control" value="<%=recruitment.work_name%>">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="" class="col-lg-2 col-md-2 " >Vị trí<i class="icon_star">*</i></label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input required type="text" name="position" id="input" class="form-control" value="<%=recruitment.position%>" min="1" max="" step="" required="required" title="" >
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="" class="col-lg-2 col-md-2 " >Mô tả<i class="icon_star">*</i></label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <textarea class="form-control" id="" rows="10" name="description"><%=recruitment.description%></textarea>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="" class="col-lg-2 col-md-2 " >Yêu cầu<i class="icon_star">*</i></label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <textarea class="form-control" id="" rows="10" name="requirement"><%=recruitment.requirement%></textarea>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="" class="col-lg-2 col-md-2 " >Địa điểm<i class="icon_star">*</i></label>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <input required type="text" name="location" id="input" class="form-control" value="<%=recruitment.location%>" required="required"  title="">
                    </div>
                </div>
               
               <div class="form-group row">
                   <label for="" class="col-lg-2 col-md-2 " >Lương tối thiểu<i class="icon_star">*</i></label>
                   <div class="col-sm-3">
                       <input required type="text" name="min_salary" id="input_min_salary" class="form-control" value="<%=recruitment.min_salary%>" required="required" title="">
                   </div>
               </div>
    
               <div class="form-group row">
                   <label for="" class="col-lg-2 col-md-2 " >Lương tối đa<i class="icon_star">*</i></label>
                   <div class="col-sm-3">
                        <input required type="text" name="max_salary" id="input_max_salary" class="form-control" value="<%=recruitment.max_salary%>" required="required"  title="">                   
                   </div>
               </div>
    
               <div class="form-group row">
                    <label for="input" class="col-sm-2 control-label ">Kiểu tiền tệ<i class="icon_star">*</i></label>
                    <div class="col-sm-2">
                        <select name="type_salary" id="input" class="form-control">
                        <option value="">--chọn--</option>
                        <%    
                        for (const key in constant.TYPE_SALARY) {
                            if (constant.TYPE_SALARY.hasOwnProperty(key)) {
                                const element = constant.TYPE_SALARY[key];
                                if (element == recruitment.type_salary) {
                                    %>
                                    <option value="<%=element%>" selected><%=key%></option>
                                    <%
                                } else {
                                    %>
                                    
                                    <option value="<%=element%>"><%=key%></option>
                                    <%
                                }
                            }
                        }    
                        %> 
                        </select>
                    </div>
                </div>
    
               <div class="form-group row">
                   <label for="input" class="col-sm-2 control-label ">Kiểu công việc<i class="icon_star">*</i></label>
                   <div class="col-sm-2">
                   <select name="type_candidate" id="input" class="form-control">
                        <option value="">--chọn--</option>
                        <%    
                        for (const key in constant.JOB_TYPE) {
                            if (constant.JOB_TYPE.hasOwnProperty(key)) {
                                const element = constant.JOB_TYPE[key];
                                if (element == recruitment.type_candidate) {
                                    %>
                                    <option value="<%=element%>" selected><%=key%></option>
                                    <%
                                } else {
                                    %>
                                    
                                    <option value="<%=element%>"><%=key%></option>
                                    <%
                                }
                            }
                        }    
                        %> 
                       </select>
                   </div>
               </div>
               
    
               
               <div class="form-group row">
                   <label for="" class="col-sm-2 ">Yêu cầu giới tính<i class="icon_star">*</i></label>
                   <div class="col-sm-2">
                    <select name="gender_requirement" " class="form-control">
                            <option value="">--chọn--</option>
                            <%    
                            for (const key in constant.GENDER) {
                                if (constant.GENDER.hasOwnProperty(key)) {
                                    const element = constant.GENDER[key];
                                    if (element == recruitment.gender_requirement) {
                                        %>
                                        <option value="<%=element%>" selected><%=key%></option>
                                        <%
                                    } else {
                                        %>
                                        
                                        <option value="<%=element%>"><%=key%></option>
                                        <%
                                    }
                                }
                            }    
                            %>
                        </select>
                   </div>
               </div>
    
               <div class="form-group row">
                   <label for="" class="col-sm-2">Thời gian hết hạn<i class="icon_star">*</i></label>
                   <div class="col-sm-3">
                       <input required type="date" name="deadline" id="input" class="form-control" required="required" title="">
                   </div>
               </div>
               
    
               <div class="form-group row">
                 <label for="jobTag" class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 ">Job Tag<i class="icon_star">*</i></label>
                 <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                     <input required type="text" name="job_tags" id="jobTag" class="form-control" placeholder="job tag" value="<%=recruitment.job_tags %>" />
                </div>
               </div>
    
    
               <div class="form-group row">
                    <input type="hidden" name="type_post" value="1">                
               </div>
               <div class="form-group row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left">
                         <button type="submit" class="btn btn-success">Lưu</button>
                         <a href="/recruitment" class="btn btn-secondary">Huỷ</a>
                     </div>
               </div>
        </form>
    </div>
    


    <% include footer %>  
  </body>
</html>